# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual env
env/
venv/

# Django stuff
*.log
staticfiles/
media/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual env
env/
venv/

# Django stuff
*.log
staticfiles/
media/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
